#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=cnbimobile-wheelchair
Name[en_US]=CNBIWheelchairNavigationDemo
Exec=bash -c 'source $ROS_WORKSPACE_CURRENT/devel/setup.bash && roslaunch cnbiros_wheelchair_bochum wheelchair_navigation_dynamics.launch enable_bci:=false enable_joystick:=true'
Comment[en_US]=CNBI Loop Desktop Launcher for wheelchair navigation demo
Name=CNBI Wheelchair Navigation Demo
Comment=CNBI Loop Desktop Launcher for wheelchair navigation demo
